<!DOCTYPE html>
<html lang="ru">
<head> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id="main-holder">
        <h1>Вход в приложение</h1>
        {{form}}
        <div id="login-error-msg-holder">
          <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
        </div>
        <script> 
       /*<form id="login-form">
          <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
          <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
          <input type="submit" value="Login" id="login-form-submit">
        </form>
<h1>enter login password</h1>*/ </script>

</body>
</html>